<ion-header>
  <ion-toolbar>
    <ion-title>Quan điểm của chúng tôi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/oneclickmoney.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/JwEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/easycredit.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/3wEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/vpbank.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/IwEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/f88.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/0wEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/timavn.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/fQEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/vaynhanhshbfinance.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/5QEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/MiraeLogo2.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Khoản vay đầu tiên:<span>0%</span></b></li>
        <li>Khoản vay đầu tiên:<span>2,000,000 ₫</span></li>
        <li>Khoản vay thứ hai:<span>10,000,000 ₫</span></li>
        <li>Thời hạn cho vay:<span>+65 ngày</span></li>
        <li>Lãi suất:<span>0% - 1%</span></li>
        <li>Độ tuổi từ:<span>22 đến 60</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://tovpotok.com/uQEV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Nhận khoản vay
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
