<ion-header>
  <ion-toolbar>
    <ion-title>Выберите банк</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/dineroua.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/f16cb2be86f59b6dd954c669b8a2f8ce?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/moneyveo.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/8890e2f460c27f81e0b64632faf92550?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/creditplus.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/ab0d3ba09ef28f87a6df6756da6c10aa?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/eurogroshi.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/1f9dadc72789a79e57ba4046800a86b1?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/ccloan.svg#logo'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/78ec08ae3ee136387f3d6ab50d5fa4a3?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/groshivsim.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/34a92c168014845921d601e25d31cb5e?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/alexcredit.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/c7559e328d0a08803c877698be7f6497?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/soscredit.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/9b977c04897f81c0e00dd1f6e23274aa?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/kachaygro.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/fd058f645e89233c50d52466620c521e?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/mycreditua.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/5be04cc53e5e9fdf0b5cae8d69b184b5?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/bistrozaim.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/22fd8d3e21c65f34f0f9b5e7ab886f7?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/cashberi.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/adabc81cb75bc0c27678a79cf6516acd?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/gotovichka.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/380cac04f0430ab2ec7d3bba47e3b938?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/forzacredit.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/9aedb0823e329ac534668079e5b98350?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/credit7.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/0a9287af6f1bb4b6f11d840a2f360737?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/moneyboom.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/28a87fb030234e1b2683726c2e0c195a?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/globalcredit.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/dd46e62459b9f81b4fdc5f266ab8fc69?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/gofingo.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/18de770d43d0e27e45d5d05d9ba4a5f6?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/mywallet.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/34049f44278c1af594f73e3e46d643c0?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/creditup.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/3229b54e2a1e5aa0cd16472fc1ae1523?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/kfua.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/4e673338a2ca8e026a95692228bf5e90?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/creditkasa.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/1fea895c6874cfb7cb6c8f3292664773?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/studentloan.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/f22d033e2c89c5f18aa96b2f458d561a?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/kltcredit.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/345741f1d1c73609ca30fe83f4c1ad26?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/megagroshi.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/a0e56875b35491eefbfb89c9d693bcf3?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/novikredyty.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/d72e32acd3621ab8fb9de983b210ffb1?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/e-cash.png'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Первый займ:<span>под 0%</span></b></li>
        <li>Первый займ:<span>до 100 000 гривен</span></li>
        <li>Повторный займ:<span>до 250 000 гривен</span></li>
        <li>Срок займа:<span>от 65 дней</span></li>
        <li>Ставка:<span>от 0% до 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("https://pxl.leads.su/click/40d16e94846a30b7d793955f88a741f0?aff_sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Получить деньги
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
