<ion-header>
  <ion-toolbar>
    <ion-title>
      Pumili ng isang bangko
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/onlineloans.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Unang pautang:<span>sa ilalim ng 0%</span></b></li>
        <li>Unang pautang:<span>hanggang sa ₱7,000</span></li>
        <li>Muling pautang:<span>hanggang sa ₱20,000</span></li>
        <li>Term ng pautang:<span>mula 65 araw</span></li>
        <li>Rate:<span>mula 0% hanggang 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("http://tovpotok.com/z6EV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Kumuhang pera
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/robocash.svg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Unang pautang:<span>sa ilalim ng 0%</span></b></li>
        <li>Unang pautang:<span>hanggang sa в‚₱10 000.00</span></li>
        <li>Muling pautang:<span>hanggang sa в‚₱25 000.00</span></li>
        <li>Term ng pautang:<span>mula 65 araw</span></li>
        <li>Rate:<span>mula 0% hanggang 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("http://tovpotok.com/s6EV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Kumuhang pera
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img style="margin-top: 10px;" width="60%" [src]="'assets/images/cashvagon.jpg'" />
    <ion-card-content>
      <ul class="options">
        <li><b>Unang pautang:<span>sa ilalim ng 0%</span></b></li>
        <li>Unang pautang:<span>hanggang sa в‚₱7000</span></li>
        <li>Muling pautang:<span>hanggang sa в‚₱20,000</span></li>
        <li>Term ng pautang:<span>mula 65 araw</span></li>
        <li>Rate:<span>mula 0% hanggang 1%</span></li>
      </ul>
      <div class="get_money">
        <ion-button class="button_money"
          (click)='getMoney("http://tovpotok.com/k6EV?sub1=1251756778.1568687725&sub_id_7=ios")'
          slot="end">Kumuhang pera
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
